/* Positioning */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.painting {
  display: grid;
  grid-template-columns: repeat(8, calc(400px / 8)); 
  grid-template-rows: repeat(8, calc(400px / 8)); 
  border: 15px solid black;
}

#painting.large {
  grid-template-columns: repeat(8, calc(400px / 8)); 
  grid-template-rows: repeat(8, calc(400px / 8)); 
}

#painting.medium {
  grid-template-columns: repeat(6, calc(400px / 6)); 
  grid-template-rows: repeat(6, calc(400px / 6)); 
}

#painting.small {
  grid-template-columns: repeat(4, calc(400px / 4)); 
  grid-template-rows: repeat(4, calc(400px / 4)); 
}

.cell {
  position: relative;
}

button {
  margin-right: 20px;
}

/* Colors */

.red {
  background-color: red;
}
.blue {
  background-color: blue
}
.yellow {
  background-color: yellow;
}
.white {
  background-color: white;
}

/* Borders */

.cell.top {
  border-top: 2px solid black;
} 

.cell.bottom {
  border-bottom: 2px solid black;
} 

.cell.left {
  border-left: 2px solid black;
} 

.cell.right {
  border-right: 2px solid black;
} 