/* Positioning */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.painting {
  display: grid;
  grid-template-columns: repeat(8, calc(400px / 8)); 
  grid-template-rows: repeat(8, calc(400px / 8)); 
  padding: 30px;
  background-color: rgb(225, 222, 222);
  border-style: solid;
  border-width: 15px;
  border-top-color: black;
  border-right-color: rgb(54, 54, 54);
  border-bottom-color: black;
  border-left-color: rgb(54, 54, 54);
  box-shadow: 2px 2px 4px rgba(0,0,0,.6);  
}

#painting.large {
  grid-template-columns: repeat(8, calc(400px / 8)); 
  grid-template-rows: repeat(8, calc(400px / 8)); 
}

#painting.medium {
  grid-template-columns: repeat(6, calc(400px / 6)); 
  grid-template-rows: repeat(6, calc(400px / 6)); 
}

#painting.small {
  grid-template-columns: repeat(4, calc(400px / 4)); 
  grid-template-rows: repeat(4, calc(400px / 4)); 
}

.cell {
  position: relative;
}

button {
  margin-right: 20px;
}

/* Colors */

.red {
  background-color: red;
}
.blue {
  background-color: blue
}
.yellow {
  background-color: yellow;
}
.white {
  background-color: white;
}

/* Borders */

.cell.top {
  border-top: 3px solid black;
} 

.cell.bottom {
  border-bottom: 3px solid black;
} 

.cell.left {
  border-left: 3px solid black;
} 

.cell.right {
  border-right: 3px solid black;
} 